<div class="infoContainer">
  <img style="margin:25px" src="assets/images/global/logo.png" alt="ID14 logo"/>
  <p>This year's students have assembled a wide variety of service and product designs; with work ranging from furniture, homewares, lighting, web, and wearables, this exhibition showcases the talent and diversity of the 2014 graduates. </p><br/><p> See the students and their work at the <span id="link" ng-click="showInfo()"> Industrial Design Graduate Show</span>.</p>
</div>

<div class="eventContainer animate-slide" ng-if="showingInfo">
  <a name="info"></a>
  <a href="https://www.google.com.au/maps/place/University+of+Technology,+Sydney" target ="_blank"><div class="map"> <img class="map" ng-src="assets/images/global/uts_map.jpg" alt="uts_map"></div></a>
  <div class="eventInfo">
    <p> <strong>Industrial Design Graduate Show </strong></p>
    <p> UTS Foyer - Level 4, Tower Building</p>
    <br/>
    <p><span id="openingNight"> Tue 25th November, 6pm to 9pm (Opening Night)<span></p>
    <p> Wed 26th November</p>
    <p> Thu 27th November</p>
    <br/>
    <p> <a href="https://www.google.com.au/maps/place/University+of+Technology,+Sydney" target="_blank">Directions to UTS</a></p>
    <p><a href="assets/images/global/event.ics" target="_blank">+ Add to calendar </a></p>

  </div>
</div>
  <div class="loader" id="projectLoader"> Loading projects...<br/><hr></div>

  <div id="projects" class="projectContainer hidden">
    <div id="sort-options" class="brickContainer">
      <!-- SORT OPTIONS-->
      <div class="sort-group" opt-kind="" ok-key="sortBy">
        <div ng-include=" 'sortOptions.html' "></div>
      </div>
    </div>

    <!-- PROJECTS -->
    <div isotope-container="isotope-container" class="brickContainer">
      <div ng-repeat="brick in bricks | orderBy: orderValue" isotope-item="isotope-item item">
        <div ng-include="'cardTemplate.html' "></div>
      </div>
    </div>

    <div class="sponsors">
      <a name="sponsors"></a>
      <p>A special thank you to our event sponsors:</p>
      <br/>
      <a href="http://www.spenceandlyda.com.au" target="_blank"><img ng-src="assets/images/global/sponsor3.png" alt="UTS"/></a>
      <a href="http://uts.edu.au" target="_blank"><img ng-src="assets/images/global/UTS_logo.jpg" alt="UTS"/></a>
      <a href="http://www.expocentric.com.au" target="_blank"><img ng-src="assets/images/global/sponsor4.jpg" alt="UTS"/></a>
    </div>
  </div>

<footer>
  <p>Designed &amp; developed by <a href="#" target="_blank">Michael Parker</a></p>
  <p>&#xA9;2014</p>
  <br/>
</footer>