@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*Stylesheet for ID14*/
/*import fonts from google*/
/*normalise browser*/
* {
  font-family: "Open Sans"; }

body {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

p {
  padding: 0px;
  margin: 0px;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em; }

a {
  color: #29abe2;
  text-decoration: none; }

a:hover {
  color: #1CD5FF; }

#link {
  color: #29abe2;
  cursor: pointer; }

#link:hover {
  color: #1CD5FF; }

nav {
  position: fixed;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  z-index: 6;
  width: 100%;
  padding: 10px;
  opacity: 1;
  font-size: 0.8em;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out; }

nav a {
  font-weight: 600;
  cursor: pointer; }

.navContent {
  display: inline-block;
  padding-left: 12px; }

#nav-sort {
  display: inline-block;
  width: auto;
  text-align: right;
  float: right;
  margin-right: 24px;
  padding-right: 10px;
  /*	background-color: red;*/ }

/*.darkBackground {
	background-color: #555;
	opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}*/
.infoContainer {
  text-align: center;
  max-width: 900px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.infoContainer h1 {
  font-size: 80px;
  font-weight: 100; }

.infoContainer h2 {
  font-size: 24px;
  font-weight: 200; }

.projectContainer {
  width: 100%;
  height: auto;
  min-height: 300px;
  /*	background-color: blue;*/
  margin-left: auto;
  margin-right: auto;
  -webkit-overflow-scrolling: touch; }

.loader {
  width: 70%;
  text-align: center;
  font-size: 0.8em;
  opacity: 1;
  color: #AAA;
  margin-left: auto;
  margin-right: auto; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.hiddenNav {
  font-size: 0.8em;
  width: 100%;
  opacity: 0; }

.hidden {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  color: #AAA;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out; }

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out; }

.noscroll {
  overflow: hidden;
  position: fixed;
  margin-left: auto;
  margin-right: auto; }

/* ------ STYLES FOR CARD TEMPLATE -------*/
.brickContainer {
  /*	background-color: red;
*/
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto; }

.sort-group {
  font-size: 0.8em;
  text-align: right;
  margin: 12px;
  padding-right: 10px;
  font-weight: 300; }

.sort-group a {
  cursor: pointer; }

.card {
  display: inline-block;
  background-color: #fdfdfd;
  border-radius: 10px;
  width: 320px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px #AAA;
  /*padding: 10px;*/ }

.card:hover {
  box-shadow: 0px 3px 5px #999; }

/*.card a {
	color: #29abe2;
	text-decoration: none;
}*/
.contact {
  /*	background-color: #999;*/
  padding: 5px;
  height: 40px;
  /*border: 1px solid black;*/ }

.contactPhotoContainer {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-size: contain;
  border-radius: 50%;
  /*background-color: #444;*/ }

.name {
  height: 35px;
  width: auto;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  position: absolute; }

.name a {
  font-weight: 400; }

.projectPhotoContainer {
  height: auto;
  width: auto;
  min-height: 100px;
  display: block; }

.projectPhoto {
  width: 100%;
  height: auto; }

.projectTitle {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  /*border: 1px solid black;*/ }

.projectDesc {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
  padding-bottom: 10px;
  /*border: 1px solid blue;*/ }

.actions {
  padding-bottom: 10px; }

.actions a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em; }

.aboutMe {
  opacity: 1;
  height: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

.aboutMe p {
  font-size: 1em; }

footer {
  margin-top: 100px;
  margin-bottom: 25px;
  width: 100%;
  text-align: center; }

footer p {
  font-size: 0.7em; }

.sponsors {
  min-width: 300px;
  max-width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: center; }

.sponsors img {
  height: 80px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px; }

.eventContainer {
  display: block;
  width: 650px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  /*	margin-bottom: 50px;*/
  /*background-color: red;*/ }

.map {
  display: inline-block; }

.map img {
  height: 200px;
  width: 200px;
  border-radius: 50%; }

.eventInfo {
  display: inline-block;
  position: absolute;
  margin-left: 50px; }

#openingNight {
  font-weight: 400 !important; }

/*.lightbox {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	z-index: 4;
	background-color: rgba(250, 250, 250, 0.70);
	overflow: hidden;
}

.lightboxBackground {
	display: block;
	position: absolute;
	max-width: 700px;
	width: 95%;
	height: 85%;
	margin-top: 2.5%;
	left:0;
	right: 0;
	background-color: #FFF;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 0px 10px #888;
	z-index: 10 !important;
	overflow-y:scroll;
	overflow-x:hidden;
	padding: 20px;
	-webkit-overflow-scrolling: touch;
}

#close {
	display: block;
	position: static;
	font-size: 0.8em;
}

#lightboxHero {
	max-width: 100%;
	height: 300px;
	display: block;
	background-color: #444;
	background-size: cover;
	background-position: center;
}

.lightboxContact {
	margin-bottom: 2em;
}

#lightboxUserPhoto {
	display: inline-block;
	height: 110px;
	width: 110px;
	background-color: #444;
	border-radius: 50%;
	background-size: cover;
}

#lightboxUserDetails {
	display: inline-block;
	position: absolute;
	padding: 20px;
}*/
.projectPanelContainer {
  height: 100%;
  width: 100%; }

.projectBackground {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: rgba(250, 250, 250, 0.9);
  opacity: 0.9;
  z-index: 3;
  overflow: hidden; }

.projectPanel {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 3px 0px 5px #CCC;
  -webkit-overflow-scrolling: touch; }

.projectPanelHeroContainer {
  height: 280px;
  width: 100%;
  max-width: 1800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.projectPanelHero {
  height: 260px;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover; }

.back {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; }

.content {
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.content img {
  height: auto !important;
  width: 100% !important; }

.projectContact {
  width: auto;
  height: auto;
  display: block; }

#projectUserPhoto {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background-size: contain;
  background-color: #EFEFEF; }

#projectUserDetails {
  display: inline-block;
  position: absolute;
  margin-left: 20px; }

.noScroll {
  position: static;
  overflow: hidden; }

/*   ======= infoContainerPOINT HANDLING =======   */
@media screen and (max-width: 1800px) {
  .brickContainer {
    max-width: 1440px; } }

@media screen and (max-width: 1440px) {
  .card {
    width: 320px;
    margin: 20px; }
  .brickContainer {
    max-width: 1080px; } }

@media screen and (max-width: 1080px) {
  .card {
    width: 320px; }
  .brickContainer {
    max-width: 720px; }
  .infoContainer {
    max-width: 720px; } }

@media screen and (max-width: 720px) {
  .card {
    width: 250px;
    margin: 10px; }
  .brickContainer {
    max-width: 540px; }
  .infoContainer {
    max-width: 540px; }
  .eventContainer {
    width: 500px; }
  .map img {
    width: 150px;
    height: 150px; }
  .eventInfo {
    font-size: 0.9em;
    margin-left: 30px; } }

@media screen and (max-width: 540px) {
  .card {
    width: 350px; }
  .brickContainer {
    max-width: 370px; }
  .infoContainer {
    max-width: 450px; }
  .eventContainer {
    width: 320px;
    height: auto; }
  .map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px; }
  .map img {
    width: 100px;
    height: 100px; }
  .eventInfo {
    text-align: center;
    position: relative;
    display: block;
    margin: 30px; }
  .projectPanelHero {
    max-height: 200px; }
  .projectPanelHeroContainer {
    max-height: 200px; }
  #projectUserPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #projectUserDetails {
    display: block;
    position: relative;
    text-align: center;
    margin: 0px; } }

@media screen and (max-width: 320px) {
  .card {
    width: 300px; }
  .brickContainer {
    max-width: 320px; }
  .infoContainer {
    max-width: 300px; } }

/*   ======= ANIMATION HANDLING =======   */
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.animate-fade.ng-enter, .animate-fade.ng-leave, .animate-slide.ng-enter, .animate-slide.ng-leave {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.animate-fade.ng-enter, .animate-fade.ng-leave.ng-leave-active {
  opacity: 0; }

.animate-fade.ng-leave, .animate-fade.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-slide.ng-enter, .animate-slide.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0px; }

.animate-slide.ng-leave, .animate-slide.ng-enter.ng-enter-active {
  opacity: 1;
  height: 250px; }
